html
  head
    title= title
  body
    h1 All users
    p
      a(href='/') Home Page
    ol
        each elem in users 
            li 
              span
                a(href=`/users/${elem.id}`) !{elem.name}
