extends users

block user
  .userDetails
    .phone
      h2 Phone
      p !{user.phone}
    .email
      h2 Email
      p !{user.email}
    .address
      h2 Address
      p !{user.address}
    .about
      h2 About
      p !{user.about}
      
