body {
    background-color: #ebe9e9;
    width: 60%;
}

.button {
    width: 100px;
    padding: 5px;
    margin: 3px;
    background-color: #dedcdcde;
}

.button:hover {
    background-color: #b5b4b464;
}

.button a {
    text-decoration: none;
    font-size: .8rem;
    color: black;
}

.container {
    display: flex;
    flex-flow: row nowrap;
}

.list {
    background-color: #dedcdcde;
    min-width: 200px;
}

.userDetails {
    padding: 2px 40px 40px;
    min-width: 200px;
}