doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/styles.css')
  body
    header
      h1 Super App
    nav
      a(href='/') Home Page 
      a(href='/users') Users

    block content