doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    header
      h1 Super App
    nav
      a(href='/')
        button.button Home Page 
      a(href='/users')
        button.button Users
      a(href='/users/filter/active?active=true')
        button.button Show only active users
      a(href='/users/filter/age?age=30')
        button.button Older than 30

    block content