doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    header
      h1 Super App
      nav
        a(href='/', tabindex= -1)
          button.button Home Page 
        a(href='/users', tabindex= -1)
          button.button Users
        block filters
    main
      block content
    footer
      p Foooter
