doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/styles/index.css')
  body
    header
      h1 Super App
    nav
      button.button
        a(href='/') Home Page 
      button.button
        a(href='/users') Users
      button.button
        a(href='/users/filter/query?active=true') Show only active users

    block content